.hot-accessories {
  display: flex;
  width: 96vw;
  margin: 0.7vmax;
  overflow-x: scroll;
}

.hot-accessories > div:first-child {
  margin: 0.7vmax;
}

.hot-accessories > div:first-child > img {
  cursor: pointer;
  transition: all 0.2s linear;
}

.hot-accessories > div:first-child > img:hover {
  transform: translateY(-0.4vmax);
  box-shadow: 0px 6px 15px rgb(53, 53, 53, 0.363);
}

.hot-accessories > :last-child {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}
